# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/

# Build
*.apk
*.aab
*.ipa

# iOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
ios/Pods/

# Android
*.iml
.gradle
local.properties
*.apk
*.ap_
*.aab
projectFilesBackup
build
captures
.externalNativeBuild
.cxx
android/app/debug
android/app/profile
android/app/release

# EAS
.eas/

# Misc
*.log
*.lock

